<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:parentActivityName=".ParentActivity"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EVENTAPP"
        tools:targetApi="31">
        <activity
            android:name=".admin.AdminActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".organizer.OrganizerActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".attendee.AttendeeActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".attendee.AttendeeEvent"
            android:exported="false"/>
        <activity
            android:name=".attendee.CustomizeProfile"
            android:exported="false" />
        <activity
            android:name=".attendee.AttendedEventInformationActivity"
            android:exported="false" />
        <activity
            android:name=".attendee.AttendedEvents"
            android:exported="false" />
        <activity android:name=".attendee.AttendeeNotification"
            android:exported="false" />
        <activity android:name=".attendee.AttendeeNoSignUpEvent"
            android:exported="false"/>
        <activity android:name=".organizer.OrganizerNotification"
            android:exported="false" />
        <activity android:name=".organizer.NotificationEventListActivity"
            android:exported="false" />
        <!--  ADMIN        -->
        <activity android:name=".admin.AdminBrowseProfile"
            android:exported="false" />
        <activity android:name=".admin.AdminDeleteProfile"
            android:exported="false" />
        <activity android:name=".admin.AdminBrowseEvent"
            android:exported="false" />
        <activity android:name=".admin.AdminDeleteEvent"
            android:exported="false" />
        <activity android:name=".admin.AdminBrowseImage"
            android:exported="false" />
        <activity android:name=".admin.AdminDeleteImage"
            android:exported="false" />

        <activity
            android:name=".organizer.OrganizerCustomizeProfile">
        </activity>
        <activity
            android:name=".organizer.OrganizerHome"
            android:exported="false"/>
        <activity
            android:name=".organizer.OrganizerEventInfo"
            android:exported="false"/>
        <activity
            android:name=".organizer.OrganizerEvent"
            android:exported="false"/>
        <activity
            android:name=".organizer.OrganizerAccount"
            android:exported="false"/>
        <activity android:name=".organizer.OrganizerEditEventSelection"
            android:exported="false"/>
        <activity android:name=".organizer.OrganizerQRCode"
            android:exported="false"/>
        <activity android:name=".organizer.OrganizerSeeListOfAttendees"
            android:exported="false"/>
        <activity android:name=".attendee.QRCodeScanFragment"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".attendee.QRCodeScannerActivity"
            android:exported="false"/>
        <activity android:name=".organizer.UpdateEventFragment"
            android:exported="false"/>
        <activity android:name=".organizer.OrganizerQRCode_EventInfo"
            android:exported="false" />
        <activity android:name=".organizer.QRCodeReuseActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${google_maps_key}"/>

    </application>

    <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Gallery permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Permissions for accessing location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>





</manifest>